.custom-input{
    width: 90%;
}
.mat-form-field{
    text-align: right;
}
.custom-message{
    text-align: center;
    color: brown;
    font-weight: bold;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
    font-family: 'Cairo', 'Changa';
}
.custom-div{
    margin-bottom: 8%;
}
.fake-link {
    color: #00263E;
    text-decoration: none;
    cursor: pointer;
   font-size: 19px
}
@media screen and (max-width: 767px) {
    .custom-fotter{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
}