.custom-input{
    width: 90%;
}
.mat-form-field{
    text-align: right;
}
.custom-message{
    text-align: center;
    color: brown;
    font-weight: bold;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
    font-family: 'Cairo', 'Changa';
}