.card [class*="card-header-"] .card-icon{
    margin-left: 15px;
    float: right;
}
.custom-title{
    text-align: right;
}
.mat-form-field{
    text-align: right;
}
.mat-option{
    text-align: right;
}
.mat-option.mat-selected:hover{
    background-color: #3f51b5 !important;
}
.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(22, 44, 243, 0.4);
    background: #3f51b5!important;
    color: #fff !important;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #3f51b5 !important;
    color: #fff !important;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(22, 44, 243, 0.4);
}
.custom-card{
    margin-left: auto;
    margin-right: auto;
}
.custom-label{
    float: right;
}
::ng-deep .btn-primary{
    margin-right: auto;
}
::ng-deep .mat-raised-button.btn.btn-primary, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-primary, .btn.btn-primary .custom-btn{
    font-family: 'Cairo', 'Changa';
}

h6{
    color: gray;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .separator{
    border-color: rgb(165, 165, 165);
    margin-left: 17px;
    margin-right: 17px;
}

hr.sweet-hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: rgb(114, 113, 113);
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 0px;
}
hr.sweet-hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(88, 88, 88);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


.sweet-underline{
    margin-top: 17px;
    direction: rtl;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    display: block;
    color: rgb(63, 63, 63);
}
