<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<div class="main-content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">portrait</i>
            </div>
            <h4 class="card-title custom-title">اضافة عرض عمل</h4>
          </div>
          <div class="col-md-8 custom-card">
            <div class="card-body">
              <form (submit)="addJob()" [formGroup]="addJobForm">
                <div class="row">
                    <div class="col-md-12">
                        <label class="sweet-underline"> 1-تفاصيل الاعلان الوظيفي</label>
                        <hr class="sweet-hr"/>
                    </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- المشروع</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="projects" name="project">
                        <mat-option *ngFor="let project of projects" [value]="project.value">
                          {{project.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- المسمى الوظيفي المطلوب</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="text" formControlName="job_Name"
                     >
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- ساعات العمل اليومية</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="* بحد اقصى 12 ساعه" type="number" formControlName="work_hours"
                          name="work_hours" min="1" max="12">
                      </mat-form-field>
                      <mat-error *ngIf="addJobForm.get('work_hours').invalid">يجب الاختيار بحد ادنى 1 او اقصى 12</mat-error>
  
                    </div>
                    <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- عدد أيام العمل</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="بحد اقصى 59 يوم" type="number" formControlName="work_days" name="work_days" min="1" max="59">
                      </mat-form-field>
                      <mat-error *ngIf="addJobForm.get('work_days').invalid">يجب الاختيار بحد ادنى 1 او اقصى 59</mat-error>
  
                    </div>
                    <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- الراتب / يومي</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="بحد ادنى 100 ريال باليوم" type="number" formControlName="salary" name="salary">
                      </mat-form-field>
                      <mat-error *ngIf="addJobForm.get('salary').invalid">الراتب بحد ادنى 100 ريال باليوم</mat-error>
  
                    </div>
                    <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- عدد المطلوبين</label>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="" type="tel" formControlName="required_Number" name="required_Number">
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                          <label class="bmd-label-floating custom-label">- الجنس</label>
                          <mat-form-field>
                            <mat-select placeholder="" formControlName="gender" name="gender">
                              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                       
                        <div class="col-md-6">
                            <label class="bmd-label-floating custom-label">-تاريخ البدأ</label>
                            <mat-form-field>
                              <input matInput formControlName="startDate" name="startDate" [matDatepicker]="picker" placeholder="">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="col-md-12">
                              <label class="bmd-label-floating custom-label">- وصف الوظيفة</label>
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="" maxlength="200" formControlName="description" name="description"></textarea>
                              </mat-form-field>
                            </div>
                            
                      <div class="col-md-12">
                          <label class="sweet-underline"> 2-الموقع</label>
                          <hr class="sweet-hr"/>
                      </div>

                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- الدولة</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="country" name="country">
                        <mat-option *ngFor="let country of countries" [value]="country.value">
                          {{country.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- المدينة</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="city" name="city">
                        <mat-option *ngFor="let city of cities"  [value]="city.value">
                          {{city.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                      <label class="sweet-underline"> 2- التعليم و المهارات</label>
                      <hr class="sweet-hr"/>
                  </div>
                  <!-- <div class="col-md-12">
                      <label class="bmd-label-floating custom-label">- التخصص العام</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="public_Major" name="public_Major">
                          <mat-option *ngFor="let major of majors" [value]="major.value">
                            {{major.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->
              
                      <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- المهارات الشخصية</label>
                        <mat-form-field>
                          <mat-select placeholder="" formControlName="personal_Skills" name="personal_Skills"
                            multiple>
                            <mat-option *ngFor="let s of personal_SkillList" [value]="s.value">
                                {{s.viewValue}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
              
            
          
          
                  <div class="col-md-12">
                    <div class="card-footer">
                      <button mat-raised-button type="submit" class="btn btn-fill btn-primary custom-btn" >إرسال الإعلان</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>