<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 custom-card">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" [src]="imagePath" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{companyName}}</h6>
            <p class="category">&nbsp;</p>
            <button  mat-raised-button class="btn btn-just-icon btn-round btn-twitter">
              <i class="fa fa-twitter"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-instagram"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-globe"></i>
            </button>
            <h6 class="card-category text-bold custom-h6">- معلومات عامة:</h6>
            <p class="card-description custom-p">
            {{info}}
            </p>
            <h6 class="card-category uk-text-bold custom-h6">- الرؤيا:</h6>
            <p class="card-description custom-p">
            {{vision}}
            </p>
            <h6 class="card-category text-bold custom-h6">- الرسالة:</h6>
            <p class="card-description custom-p">
             {{message}}
            </p>
            <h6 class="card-category text-bold custom-h6">- العنوان:</h6>
            <p class="card-description custom-p">
             {{address}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>