<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 custom-card">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="category">&nbsp;</p>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-twitter">
              <i class="fa fa-twitter"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-facebook">
              <i class="fa fa-facebook"> </i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-instagram"></i>
            </button>
            <button mat-raised-button class="btn btn-just-icon btn-round btn-linkedin">
              <i class="fa fa-globe"></i>
            </button>
            <h6 class="card-category text-bold custom-h6">- معلومات عامة:</h6>
            <p class="card-description custom-p">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <h6 class="card-category uk-text-bold custom-h6">- الرؤيا:</h6>
            <p class="card-description custom-p">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <h6 class="card-category text-bold custom-h6">- الرسالة:</h6>
            <p class="card-description custom-p">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <h6 class="card-category text-bold custom-h6">- العنوان:</h6>
            <p class="card-description custom-p">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a [routerLink]="['/edit-company-profile']" class="btn btn-primary btn-round">تعديل</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>