<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 custom-card">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">portrait</i>
            </div>
            <h4 class="card-title custom-title">اضافة عرض عمل</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="postuserinfo()" [formGroup]="addProjcetForm">
              <div class="row">
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- نوع التعاقد</label>
                  <mat-form-field>
                    <mat-select placeholder="اختر التعاقد..." [formControl]="contract" name="contract">
                      <mat-option *ngFor="let contract of contracts" [value]="contract.value">
                        {{contract.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- المشروع</label>
                  <mat-form-field>
                    <mat-select placeholder="اختر المشروع..." [formControl]="project" name="project">
                      <mat-option *ngFor="let project of projects" [value]="project.value">
                        {{project.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- المسمى الوظيفي المطلوب</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ادخل المسمى الوظيفي المطلوب..." type="text" [formControl]="job_Name"
                      name="job_Name">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- المهارات الوظيفية</label>
                  <mat-form-field>
                    <mat-select placeholder="اختر المهارات الوظيفية..." [formControl]="job_skills" name="job_skills"
                      multiple>
                      <mat-option *ngFor="let skill of skillList" [value]="skill">{{skill}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- الدولة</label>
                  <mat-form-field>
                    <mat-select placeholder="اختر الدولة..." formControlName="country" name="country">
                      <mat-option *ngFor="let country of countries" [value]="country.value">
                        {{country.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- المدينة</label>
                  <mat-form-field>
                    <mat-select placeholder="اختر المدينة..." formControlName="city" name="city">
                      <mat-option *ngFor="let city of cities" [value]="city.value">
                        {{city.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- التخصص العام</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ادخل التخصص العام..." type="text" formControlName="public_Major" name="public_Major">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- ساعات العمل اليومية</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ادخل ساعات العمل اليومية..." type="number" formControlName="work_hours"
                      name="work_hours">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- ايام العمل</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ادخل ايام العمل..." type="number" formControlName="work_days" name="work_days">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- الراتب</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="الراتب..." type="number" formControlName="salary" name="salary">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- الجنس</label>
                  <mat-form-field>
                    <mat-select placeholder="الجنس..." formControlName="gender" name="gender">
                      <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- المهارات الشخصية</label>
                  <mat-form-field>
                    <mat-select placeholder="المهارات الشخصية..." [formControl]="personal_Skills" name="personal_Skills"
                      multiple>
                      <mat-option *ngFor="let personal_Skill of personal_SkillList" [value]="personal_Skill">{{personal_Skill}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="bmd-label-floating custom-label">- رقم الجوال</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="رقم الجوال..." type="tel" formControlName="required_Number" name="required_Number">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <div class="card-footer">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-primary">حفظ</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>