<div class="wrapper wrapper-full-page">
  <div >
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">اختر نوع التعاقد</h2>
        </div>
      </div>
      <div class="row">
   
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing ">
            <h6 class="card-category"> مهمة قصيرة </h6>
            <div class="card-body">
              <div class="card-icon icon-primary ">
                <i class="material-icons">description</i>
              </div>
           
              <p class="card-description">مهمات عمل لاتزيد عن 59 يوم</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a  [routerLink]="['/short-term']" class="btn btn-round btn-primary">ابدأ</a>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing ">
            <h6 class="card-category"> مهمة طويلة </h6>
            <div class="card-body">
              <div class="card-icon icon-warning ">
                <i class="material-icons">description</i>
              </div>
           
              <p class="card-description">مهمات عملية شهرية لا تزيد عن ستة أشهر</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a [routerLink]="['/long-term']" class="btn btn-round btn-warning">ابدأ</a>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing ">
            <h6 class="card-category"> مهمة مستمرة </h6>
            <div class="card-body">
              <div class="card-icon icon-danger ">
                <i class="material-icons">description</i>
              </div>
           
              <p class="card-description">مهمات عمل دائمة غير محددة</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a [routerLink]="['/cont-contract']" class="btn btn-round btn-danger">ابدأ</a>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6" *ngIf="isVolunteer">
            <div class="card card-pricing ">
              <h6 class="card-category"> مهمة تطوعية </h6>
              <div class="card-body">
                <div class="card-icon icon-success ">
                  <i class="material-icons">description</i>
                </div>
             
                <p class="card-description">مهمات مخصصة للمؤسسات الخيرية و التطوعية</p>
              </div>
              <div class="card-footer justify-content-center ">
                <a [routerLink]="['/volunteer-contract']" class="btn btn-round btn-success">ابدأ</a>
              </div>
            </div>
          </div>

      </div>
    </div>
 
  </div>
</div>
