<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<div class="main-content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">next_week</i>
            </div>
            <h4 class="card-title custom-title">المشاريع الخاصة بي</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--     [routerLink]="['/my-offers']"   Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover " cellspacing="0" width="100%"
                style="width:100%" datatable="ng" >
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows; let rowIndex = index">
                    <td><a class="remove" [routerLink]="['/my-offers']" (click)="onSelect(row[1])">{{row[0]}}</a></td>
                    <td>
                      <button mat-raised-button class="btn btn-primary btn-round custon-btn" [routerLink]="['/add-project']"
                        (click)="onEdit(row[1])">تعديل</button>
                    </td>
                    <td>
                      <swal #deleteSwal title="انتـبه!" text="هل انت متأكد من الحذف" confirmButtonText='نعم'
                        cancelButtonText='إلغاء الأمر' type="warning" showCancelButton="true" cancelButtonClass="btn btn-danger"
                        (confirm)="onDelete(row[1]); deleteRow(rowIndex)">
                      </swal>
                      <button [swal]="deleteSwal" mat-raised-button class="btn btn-danger btn-round custon-btn">حذف</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>