<div class="wrapper wrapper-full-page">
<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<article class="resume-wrapper text-center position-relative" *ngIf="!isLoading">
  <div class="resume-wrapper-inner mx-auto text-right bg-white shadow-lg">
    <header class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <img class="mr-3 img-fluid picture mx-auto" [src]="imagePath" alt="">
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{fullName}}</h1>
            <ul class="list-unstyled">
              <li class="mb-2"><a>{{country}} - {{city}}</a></li>
              <li><a href="#"><i class="fa fa-mobile-phone fa-fw mr-2" data-fa-transform="grow-6"></i>{{mobile}}</a></li>
            </ul>
          </div>
          <!--//primary-info-->
          <div class="secondary-info mr-md-auto mt-2">
            <ul class="resume-social list-unstyled">
              <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fa fa-linkedin fa-fw"></i></span>{{linkedin}}</a></li>
              <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fa fa-twitter"></i></span>{{twitter}}</a></li>
              <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fa fa-facebook"></i></span>{{facebook}}</a></li>
              <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fa fa-instagram"></i></span>{{instagram}}</a></li>
              <li><a href="#"><span class="fa-container text-center mr-2"><i class="fa fa-globe"></i></span>{{personal_web}}</a></li>
            </ul>
          </div>
          <!--//secondary-info-->
        </div>
        <!--//media-body-->
      </div>
      <!--//media-->
    </header>
    <div class="resume-body p-5">
      <section class="resume-section summary-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">الوصف الشخصي</h2>
        <div class="resume-section-content">
          <p class="mb-0">{{about}}</p>
        </div>
      </section>
      <!--//summary-section-->
      <div class="row">
        <div class="col-lg-9">
          <section class="resume-section education-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">المستوى التعلمي</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <li class="mb-2">
                  <div class="resume-degree font-weight-bold">MSc in Computer Science</div>
                  <div class="resume-degree-org">University College London</div>
                  <div class="resume-degree-time">2010 - 2011</div>
                </li>
              </ul>
            </div>
          </section>
          <section class="resume-section language-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">اللغات</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled resume-lang-list">
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span></li>
                <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span></li>
                <li><span class="resume-lang-name font-weight-bold">Spanish</span></li>
              </ul>
            </div>
          </section>
          <!--//experience-section-->
        </div>
        <div class="col-lg-3">
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">مهارات العمل</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-unstyled mb-4">
                  <li class="mb-2">
                    <div class="resume-skill-name">Angular</div>
                    <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="resume-skill-name">React</div>
                    <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 94%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="resume-skill-name">JavaScript</div>
                    <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="resume-skill-name">Node.js</div>
                    <div class="progress resume-progress">
                      <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--//resume-skill-item-->
              <!--//resume-skill-item-->
              <div class="resume-skill-item">
                <h4 class="resume-skills-cat font-weight-bold">المهارات الشخصية</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
                  <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                </ul>
              </div>
              <!--//resume-skill-item-->
            </div>
            <!--resume-section-content-->
          </section>
          <!--//skills-section-->

          <!--//education-section-->

          <!--//language-section-->
          <section class="resume-section interests-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">الهوايات</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <li class="mb-1">Climbing</li>
                <li class="mb-1">Snowboarding</li>
                <li class="mb-1">Cooking</li>
              </ul>
            </div>
          </section>
          <!--//interests-section-->
        </div>
      </div>
      <!--//row-->
    </div>
    <!--//resume-body-->
  </div>
</article>
</div>