<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <form>
        <div class="col-lg-12 post-list">
          <div class="single-post d-flex flex-row">
            <div class="col-lg-3">
              <div class="thumb">
                <img src="./assets/img/post.png" alt="" id="custom-img">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="details">
                <div class="title d-flex flex-row justify-content-between">
                  <div class="titles">
                    <a>
                      <h4 class="custom-h h4-w">Creative Art Designer</h4>
                    </a>
                    <h6 class="custom-h">Premium Labels Limited</h6>
                    <h6 class="custom-h">المملكة العربية السعودية - الرياض</h6>
                  </div>
                </div>
                <p class="custom-p">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut
                  fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                  quisquam
                  est, qui dolorem ipsum quia dolor sit amet, consectetur.
                </p>
                <h5 class="custom-h">التخصص العام: Software Engineering</h5>
                <h5 class="custom-h">التخصص الدقيق: Full Stack Web Developer</h5>
                <h5 class="custom-h">المستوى التعليمي: بكالوريوس</h5>
                <h5 class="custom-h">الحالة الدراسية: طالب</h5>
                <h5 class="custom-h">نوع العقد: Full time</h5>
                <h5 class="custom-h">ساعات العمل اليومي: 7</h5>
                <h5 class="custom-h">الراتب: 3000 ريال</h5>
                <h5 class="custom-h">اللغات:</h5>
                <mat-chip-list>
                  <mat-chip color="primary" selected>Primary fish</mat-chip>
                  <mat-chip color="accent" selected>Accent fish</mat-chip>
                </mat-chip-list>
                <h5 class="custom-h custom-tag">المهارات الوظيفية :</h5>
                <mat-chip-list>
                  <mat-chip>One fish</mat-chip>
                  <mat-chip>Two fish</mat-chip>
                  <mat-chip color="primary" selected>Primary fish</mat-chip>
                  <mat-chip color="accent" selected>Accent fish</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button mat-raised-button type="submit" class="btn btn-fill btn-primary custom-btn">حفظ</button>
          <button mat-raised-button type="button" [routerLink]="['/job-offer-preview']" class="btn btn-fill btn-rose custom-btn">تعديل</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End post Area -->