.card [class*="card-header-"] .card-icon{
    margin-left: 15px;
    float: right;
}
.custom-title{
    text-align: right;
}
.mat-form-field{
    text-align: right;
}
.custom-card{
    margin-left: auto;
    margin-right: auto;
}
::ng-deep .mat-raised-button.btn.btn-primary, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-primary, .btn.btn-primary .custom-btn{
    font-family: 'Cairo', 'Changa';
}