<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 custom-card">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">portrait</i>
            </div>
            <h4 class="card-title custom-title">السيرة الذاتية للأعضاء</h4>
          </div>
          <div class="col-md-8 custom-card">
            <div class="card-body">
              <form (ngSubmit)="postuserinfo()" [formGroup]="userResumeForm">
                <div class="row">
                  <div class="col-md-8 col-sm-4">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail">
                        <img src="./assets/img/image_placeholder.jpg"  alt="...">
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                      <div>
                        <span class="btn btn-primary btn-round btn-file">
                          <span class="fileinput-new">قم بأختيار الصورة الشخصية</span>
                          <span class="fileinput-exists">استبدال </span>
                          <input type="file" #fileUpload (change)="onImagePicked($event)" />
                        </span>
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                          <i class="fa fa-times"></i> حذف
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <label class="bmd-label-floating custom-label">- الأسم الكامل</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="text" formControlName="fullName" name="fullName">
                    </mat-form-field>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- مكان الأقامة</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="country" name="country">
                        <mat-option *ngFor="let country of countries" [value]="country.value">
                          {{country.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- المدينة</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="city" name="city">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                          {{city.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- الجامعة</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="universty" name="universty">
                        <mat-option *ngFor="let universty of universties" [value]="universty.value">
                          {{universty.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- الشهادة التي تحملها</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="study_degree" name="study_degree">
                        <mat-option *ngFor="let study_degree of certificate" [value]="study_degree.value">
                          {{study_degree.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- المرحلة الدراسية</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="education_degree" name="education_degree">
                        <mat-option *ngFor="let study_degree of study_degrees" [value]="study_degree.value" (click)="checkspEducation()">
                          {{study_degree.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- المستوى التعليمي</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="Education_level" name="Education_level">
                          <mat-option *ngFor="let study_degree of study_statuses" [value]="study_degree.value">
                            {{study_degree.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- التخصص العام</label>
                        <mat-form-field>
                          <mat-select placeholder="" formControlName="public_Major" name="public_Major">
                            <mat-option *ngFor="let major of majors" (click)="checkspMajor()" [value]="major.value">
                              {{major.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- التخصص الدقيق</label>
                        <mat-form-field>
                          <mat-select placeholder="" formControlName="spMajor" name="spMajor">
                            <mat-option *ngFor="let spMajor of spMajors" [value]="spMajor.value">
                              {{spMajor.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                          <label class="bmd-label-floating custom-label">- مهارات العمل</label>
                          <mat-form-field>
                              <mat-select placeholder="" formControlName="skills" name="skills"
                              multiple>
                              <mat-option *ngFor="let s of skillList" [value]="s.value">
                                  {{s.viewValue}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <label class="bmd-label-floating custom-label">- المهارات الشخصية</label>
                          <mat-form-field>
                          <mat-select placeholder="" formControlName="personal_Skills" name="personal_Skills"
                          multiple>
                          <mat-option *ngFor="let s of personal_SkillList" [value]="s.value">
                              {{s.viewValue}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>



                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- اللغات</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="languages" name="languages" multiple>
                          <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                 
                    <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- الهوايات</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="hoppies" name="hoppies" multiple>
                          <mat-option *ngFor="let hoppy of hoppyList" [value]="hoppy">{{hoppy}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  
                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- الجنس</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="gender" name="gender">
                          <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- تاريخ الميلاد</label>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="" formControlName="birthDate" name="birthDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
               
              
                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- رقم الجوال</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="" type="tel" formControlName="mobile" name="mobile">
                      </mat-form-field>
                    </div>
            
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- الحالة الآجتماعية</label>
                    <mat-form-field>
                      <mat-select placeholder="" formControlName="social_Status" name="social_Status">
                        <mat-option *ngFor="let social_Status of social_Statuss" [value]="social_Status.value">
                          {{social_Status.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- الموقع الشخصي</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="url" formControlName="personal_web" name="personal_web">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- facebook link</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="url" formControlName="facebook" name="facebook">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- twitter link</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="url" formControlName="twitter" name="twitter">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- instagram link</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="url" formControlName="instagram" name="instagram">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- linkedin link</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="url" formControlName="linkedin" name="linkedin">
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <label class="bmd-label-floating custom-label">- الوصف الشخصي</label>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="" maxlength="200" formControlName="about" name="about"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <div class="card-footer">
                      <button mat-raised-button type="submit" class="btn btn-fill btn-primary">حفظ</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>