<div class="logo" style="padding: 0px;">
    <a >
   
            <img src="../../assets/img/logo.png" style="width: 230px;" />
        
    </a>
  
</div>
<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <img [src]="imagePath" />
        </div>
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{name}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/company-profile']">
                            <i class="material-icons">perm_identity</i>
                            <span class="sidebar-normal">ملف التعريف</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/edit-company-profile']">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">تعديل ملف التعريف</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link">
                <i class="material-icons">dashboard</i>
                <p>لوحة التحكم</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/add-project']" class="nav-link">
                <i class="material-icons">add_box</i>
                <p>اضافة مشروع</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/add-job']" class="nav-link">
                <i class="material-icons">rate_review</i>
                <p>اضافة عرض عمل</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/my-projects']" class="nav-link">
                <i class="material-icons">next_week</i>
                <p>المشاريع الخاصة بي</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a (click)="logout()" [routerLink]="['null']" class="nav-link">
                <i class="material-icons">input</i>
                <p>تسجيل خروج</p>
            </a>
        </li>
    </ul>
</div>