<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="/assets/img/32X32.png" />
        </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        <strong>Pt</strong>way
    </a>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="./assets/img/faces/avatar.jpg" />
        </div>
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    Tania Andrew
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link">
                <i class="material-icons">dashboard</i>
                <p>لوحة التحكم</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/add-project']" class="nav-link">
                <i class="material-icons">next_week</i>
                <p>اضافة مشروع</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/add-job']" class="nav-link">
                <i class="material-icons">rate_review</i>
                <p>اضافة عرض عمل</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/my-projects']" class="nav-link">
                <i class="material-icons">next_week</i>
                <p>المشاريع الخاصة بي</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a (click)="logOut()" [routerLink]="['null']" class="nav-link">
                <i class="material-icons">input</i>
                <p>تسجيل خروج</p>
            </a>
        </li>
    </ul>
</div>