.card [class*="card-header-"] .card-icon{
    margin-left: 15px;
    float: right;
}
.custom-title{
    text-align: right;
}
.mat-form-field{
    text-align: right;
}
.mat-option{
    text-align: right;
}
.mat-option.mat-selected:hover{
    background-color: #3f51b5 !important;
}
.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(22, 44, 243, 0.4);
    background: #3f51b5!important;
    color: #fff !important;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #3f51b5 !important;
    color: #fff !important;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(22, 44, 243, 0.4);
}
.custom-card{
    margin-left: auto;
    margin-right: auto;
}
.custom-label{
    float: right;
}