<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<div class="main-content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">add_box</i>
            </div>
            <h4 class="card-title custom-title">اضافة مشروع</h4>
          </div>
          <div class="col-md-6 custom-card">
            <div class="card-body">
               
              <form [formGroup]="form" (submit)="onAddProject()">
                <div class="row">
                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- اسم المشروع</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder=""
                       name=""
                       type="text"  
                      formControlName="title" >
                      <mat-error *ngIf="form.get('title').invalid">رجاء قم بكتابة اسم المشروع</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <label class="bmd-label-floating custom-label">- وصف المشروع</label>
                    <mat-form-field class="example-full-width">
                      <textarea matInput
                       placeholder="" 
                       name=""
                       formControlName="content"></textarea>
                       <mat-error *ngIf="form.get('content').invalid">رجاء قم بكتابة وصف المشروع</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <div class="card-footer">
                      
                      <button mat-raised-button type="submit" class="btn btn-fill btn-primary custon-btn">حفظ</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>