<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <a class="navbar-brand-logo">
      
            <!-- <img src="../../../assets/img/logo.png" style="width: 320px;Margin-top: -75px; margin-right: -90px;"> -->
          </a>
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">التسجيل</h2>
            <mat-tab-group animationDuration="0ms" class="tabs">
              <mat-tab label="عضو" class="custom-label">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5 ml-auto custom-ml">
                      <div class="info info-horizontal">
                        <div class="icon icon-rose">
                          <i class="material-icons">timeline</i>
                        </div>
                        <div class="description tab-pane active" id="link1">
                          <h4 class="info-title">Marketing</h4>
                          <p class="description">
                            We've created the marketing campaign of the website. It was a very interesting
                            collaboration.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Fully Coded in HTML5</h4>
                          <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has access to the code using
                            GitHub.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="material-icons">group</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Built Audience</h4>
                          <p class="description">
                            There is also a Fully Customizable CMS Admin Dashboard for this product.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Fully Coded in HTML5</h4>
                          <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has access to the code using
                            GitHub.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 mr-auto custom-mr">
                      <div class="social text-center">
                        <button mat-raised-button class="btn btn-just-icon btn-round btn-google">
                          <i class="fa fa-google"></i>
                        </button>
                        <h4 class="mt-3"> or be classical </h4>
                      </div>
                      <form class="form" (ngSubmit)="userRegistreing()" [formGroup]="userRegistrForm">
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="الاسم الاول..." name="firstName" formControlName="firstName"
                                [errorStateMatcher]="matcher" type="text">
                              <mat-error *ngIf="firstName.hasError('text') && !firstName.hasError('required')">
                                يجب عليك ادخال الاسم الاول بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="firstName.hasError('required')">
                                يجب عليك ادخال <strong>الاسم الاول</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">tag_faces</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="الاسم الاخير..." name="lastName" formControlName="lastName"
                                [errorStateMatcher]="matcher" type="text">
                              <mat-error *ngIf="lastName.hasError('text') && !lastName.hasError('required')">
                                يجب عليك ادخال الاسم الاخير بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="lastName.hasError('required')">
                                يجب عليك ادخال <strong>الاسم الاخير</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">mail</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="البريد الإلكتروني..." name="email" formControlName="email"
                                [errorStateMatcher]="matcher" type="email">
                              <mat-error *ngIf="email.hasError('email') ">
                                يجب عليك ادخال البريد الإلكتروني بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="email.hasError('required')">
                                يجب عليك ادخال <strong>البريد الإلكتروني</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="كلمة المرور..." name="password" formControlName="password"
                                [errorStateMatcher]="matcher" type="password">
                              <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
                                يجب عليك ادخال كلمة المرور بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="password.hasError('required')">
                                يجب عليك ادخال <strong>كلمة المرور</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" formControlName="agrreTerms" name="agrreTerms" type="checkbox"
                              value="" required>
                            <span class="form-check-sign custom-check-sign">
                              <span class="check"></span>
                            </span>
                            I agree to the
                            <a>terms and conditions</a>
                          </label>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary btn-round mt-4" id="submitBtn" [disabled]="userRegistrForm.invalid"
                            type="submit" name="submit">Get Started</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="شركة / منظمة">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5 ml-auto custom-ml">
                      <div class="info info-horizontal">
                        <div class="icon icon-rose">
                          <i class="material-icons">timeline</i>
                        </div>
                        <div class="description tab-pane active" id="link1">
                          <h4 class="info-title">Marketing</h4>
                          <p class="description">
                            We've created the marketing campaign of the website. It was a very interesting
                            collaboration.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Fully Coded in HTML5</h4>
                          <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has access to the code using
                            GitHub.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="material-icons">group</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Built Audience</h4>
                          <p class="description">
                            There is also a Fully Customizable CMS Admin Dashboard for this product.
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Fully Coded in HTML5</h4>
                          <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has access to the code using
                            GitHub.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 mr-auto custom-mr">
                      <div class="social text-center">
                        <button mat-raised-button class="btn btn-just-icon btn-round btn-google">
                          <i class="fa fa-google"></i>
                        </button>
                        <h4 class="mt-3"> or be classical </h4>
                      </div>
                      <form class="form" (ngSubmit)="companyRegistreing()" [formGroup]="companyRegistrForm">
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="اسم الجهة..." name="companyName" formControlName="companyName"
                                [errorStateMatcher]="matcher" type="text">
                              <mat-error *ngIf="companyName.hasError('text') && !companyName.hasError('required')">
                                يجب عليك ادخال اسم الجهة بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="email.hasError('required')">
                                يجب عليك ادخال <strong>اسم الجهة</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">mail</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="البريد الإلكتروني..." name="email" formControlName="email"
                                [errorStateMatcher]="matcher" type="email">
                              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                يجب عليك ادخال البريد الإلكتروني بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="email.hasError('required')">
                                يجب عليك ادخال <strong>البريد الإلكتروني</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <mat-form-field>
                              <mat-select placeholder="نشاط العمل..." name="CompanySpecialist" formControlName="CompanySpecialist"
                                [errorStateMatcher]="matcher">
                                <mat-option *ngFor="let CompanySpecialist of CompanySpecialists" [value]="CompanySpecialist.value"
                                  class="options">
                                  {{CompanySpecialist.viewValue}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="CompanySpecialist.hasError('required')">
                                يجب عليك اختيار <strong>نشاط العمل</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <mat-form-field>
                              <mat-select placeholder="القطاع..." name="sector" formControlName="sector"
                                [errorStateMatcher]="matcher">
                                <mat-option *ngFor="let sector of sectors" [value]="sector.value" class="options">
                                  {{sector.viewValue}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="sector.hasError('required')">
                                يجب عليك اختيار <strong>القطاع</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <mat-form-field>
                              <input matInput placeholder="كلمة المرور..." name="password" formControlName="password"
                                [errorStateMatcher]="matcher" type="password">
                              <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
                                يجب عليك ادخال كلمة المرور بالشكل الصحيح
                              </mat-error>
                              <mat-error *ngIf="email.hasError('required')">
                                يجب عليك ادخال <strong>كلمة المرور</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" formControlName="agrreTermsCompany" name="agrreTermsCompany"
                              type="checkbox" value="" required>
                            <span class="form-check-sign custom-check-sign">
                              <span class="check"></span>
                            </span>
                            I agree to the
                            <a href="#something">terms and conditions</a>.
                          </label>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary btn-round mt-4" [disabled]="companyRegistrForm.invalid" type="submit"
                            name="submit">Get Started</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Ptway TEAM
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us">
                من نحن
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                سياسة الخصوصية
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                الشروط والأحكام
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right custom-fotter">
          <p class="text-left">جميع الحقوق محفوظة © 2019 PTWay.net</p>
        </div>
      </div>
    </footer>
  </div>
</div>