.custom-nav{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.custom-ml{
    margin-right: auto !important;
}
.custom-mr{
    margin-left: auto !important;
}
.custom-check-sign .check:before{
    margin-right: 10px;
}
.mat-form-field{
    text-align: right;
}
#tabs .mat-tab-label {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
::ng-deep .tabs .mat-tab-list .mat-tab-labels {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field{
    width: 100%;
    margin-right: 6%;
}
.mat-option{
    text-align: right;
}
.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(22, 44, 243, 0.4);
    background: #3f51b5!important;
    color: #fff !important;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
    font-family: 'Cairo', 'Changa';
}
::ng-deep .mat-tab-label{
    font-family: 'Cairo', 'Changa';
}
@media screen and (max-width: 767px) {
    .custom-fotter{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
}