<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 custom-card">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div>
              <img src="../../assets/img/logo2.png"/>
            </div>
            <h4 class="card-title custom-title"></h4><h4>السيرة الذاتية</h4>
          </div>
          <div class="col-md-8 custom-card">
            <div class="card-body">
              <form (submit)="postuserinfo()" [formGroup]="userTempForm">
                <div class="row">
             
                  <div class="col-md-12">
                      <label class="sweet-underline"> 1-المعلومات الشخصية</label>
                      <hr class="sweet-hr"/>
                  </div>
                  
                  <div class="col-md-8 padding">
                    <label class="bmd-label-floating custom-label">- الأسم الكامل  *</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="fullName" name="" required>

                    </mat-form-field>
                    <mat-error *ngIf="userTempForm.get('fullName').invalid && validData && validData">هذا الحقل مطلوب</mat-error>

                  </div>

                  <div class="col-md-8 padding">
                    <label class="bmd-label-floating custom-label">- رقم الهاتف  *</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="mobile" name="">

                    </mat-form-field>
                    <mat-error *ngIf="userTempForm.get('mobile').invalid && validData">هذا الحقل مطلوب</mat-error>

                  </div>

                  <div class="col-md-8 padding">
                    <label class="bmd-label-floating custom-label">-البريد الإلكتروني  *</label>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="email" name="">

                    </mat-form-field>
                    <mat-error *ngIf="userTempForm.get('email').invalid && validData">هذا الحقل مطلوب</mat-error>

                  </div>
                    
                  <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- الجنس  *</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="gender" name="gender">
                          <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                          </mat-option>
                        </mat-select>

                      </mat-form-field>
                      <mat-error *ngIf="userTempForm.get('gender').invalid && validData">هذا الحقل مطلوب</mat-error>

                    </div>

                    <div class="col-md-6">
                      <label class="bmd-label-floating custom-label">- الجنسية  *</label>
                      <mat-form-field>
                        <mat-select placeholder="" formControlName="nationalty" name="nationalty">
                          <mat-option *ngFor="let nat of nationality" [value]="nat.value">
                            {{nat.viewValue}}
                          </mat-option>
                        </mat-select>

                      </mat-form-field>
                      <mat-error *ngIf="userTempForm.get('nationalty').invalid && validData">هذا الحقل مطلوب</mat-error>

                    </div>

                  <div class="col-md-6">
                    <label class="bmd-label-floating custom-label">- تاريخ الميلاد  *</label>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="" formControlName="birthDate" name="birthDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                    <mat-error *ngIf="userTempForm.get('birthDate').invalid && validData">هذا الحقل مطلوب</mat-error>

                  </div>
               

         
                  <br>
                  <div class="col-md-12">
                      <label class='sweet-underline'>2-العنوان</label>
                      <hr class="sweet-hr"/>

                  </div>
            
                  <div class="col-md-6 padding">
                    <label class="bmd-label-floating custom-label">- المدينة  *</label>
               
                    <mat-form-field>
                        <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="city" name="">

                    </mat-form-field>
                    <mat-error *ngIf="userTempForm.get('city').invalid && validData">هذا الحقل مطلوب</mat-error>

                  </div>
                  <br>
                  <div class="col-md-12">
                      <label class='sweet-underline'>3-المعلومات التعليمية</label>
                      <hr class="sweet-hr"/>

                  </div>
                 

                    <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- التخصص *</label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="major" name="">
                          
                        </mat-form-field>
                        <mat-error *ngIf="userTempForm.get('major').invalid && validData">هذا الحقل مطلوب</mat-error>

                      </div>
                      <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- الجامعة *</label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="universty" name="">
                        </mat-form-field>
                        <mat-error *ngIf="userTempForm.get('universty').invalid && validData">هذا الحقل مطلوب</mat-error>

                      </div>
                      <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- الدرجة *</label>
                        <mat-form-field>
                          <mat-select placeholder="" formControlName="study_degree" name="">
                            <mat-option *ngFor="let degree of study_degrees" [value]="degree.value">
                              {{degree.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="userTempForm.get('study_degree').invalid && validData">هذا الحقل مطلوب</mat-error>

                      </div>
                  
                      <div class="col-md-6">
                        <label class="bmd-label-floating custom-label">- العام *</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker5" placeholder="" formControlName="gpa" name="gpa">
                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
      
                          </mat-form-field>
                        <mat-error *ngIf="userTempForm.get('gpa').invalid && validData">هذا الحقل مطلوب</mat-error>

                      </div>

                      <br>
                      <div class="col-md-12">
                          <label class='sweet-underline'>4- الخبرات</label>
                          <hr class="sweet-hr"/>
    
                      </div>

                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-جهة العمل 1 </label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="work1" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-المسمى الوظيفي </label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="workname1" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-التاريخ </label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="" formControlName="date_work1" name="date-work1">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
      
                          </mat-form-field>
                      
                      </div>
                      <hr>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">- جهة العمل 2</label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="work2" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-المسمى الوظيفي </label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="workname2" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-التاريخ </label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="" formControlName="date_work2" name="date-work2">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
      
                          </mat-form-field>
                      
                      </div>
                      <hr size="30">
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">- جهة العمل 3 </label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="work3" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-المسمى الوظيفي </label>
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="workname3" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-4">
                        <label class="bmd-label-floating custom-label">-التاريخ </label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker3" placeholder="" formControlName="date_work3" name="date-work3">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
      
                          </mat-form-field>
                      
                      </div>

                      <br>
                      <div class="col-md-12">
                          <label class='sweet-underline'>5- المهارات</label>
                          <hr class="sweet-hr"/>
    
                      </div>
                      <div class="col-md-6">
                      
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="skill1" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-6">
                      
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="skill2" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-6">
                      
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="skill3" name="">
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-6">
                      
                        <mat-form-field>
                          <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="skill4" name="">
                        </mat-form-field>
                      
                      </div>
                      

                      <div class="col-md-12">
                        <label class='sweet-underline'>6- الدورات</label>
                        <hr class="sweet-hr"/>
  
                    </div>
                    <div class="col-md-6">
                    
                      <mat-form-field>
                        <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="course1" name="">
                      </mat-form-field>
                    
                    </div>
                    <div class="col-md-6">
                    
                      <mat-form-field>
                        <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="course2" name="">
                      </mat-form-field>
                    
                    </div>
                    <div class="col-md-6">
                    
                      <mat-form-field>
                        <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="course3" name="">
                      </mat-form-field>
                    
                    </div>
                    <div class="col-md-6">
                    
                      <mat-form-field>
                        <input matInput placeholder="" type="text"  maxlength="30 "  formControlName="course4" name="">
                      </mat-form-field>
                    
                    </div>
                    
                  <div class="col-md-12">
                    <div class="card-footer">
                      <button mat-raised-button type="submit" class="btn btn-fill btn-primary">إرسـال</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>