<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<div class="main-content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">next_week</i>
            </div>
            <p class="card-category">المشاريع</p>
            <h3 class="card-title">{{projects}}</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <p class="card-category">الذين تم توظيفهم</p>
            <h3 class="card-title">{{accepted}}</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">rate_review</i>
            </div>
            <p class="card-category">عروض العمل</p>
            <h3 class="card-title">{{jobs}}</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
    <div >
      <div class='col-md-12' id="custom-div">
        <button mat-raised-button [routerLink]="['/add-project']" class="btn btn-primary btn-round custon-btn">إضافة مشروع</button>
        <button mat-raised-button [routerLink]="['/add-job']" class="btn btn-primary btn-round custon-btn">إضافة عرض عمل</button>
        <button mat-raised-button [routerLink]="['/my-projects']" class="btn btn-primary btn-round custon-btn">المشاريع الخاصة بي</button>
      </div>
    </div>
  </div>
</div>