<!-- Start post Area -->
<mat-spinner style="position:fixed;top:50%;left:50%;margin:0 auto;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<div class="wrapper wrapper-full-page" *ngIf="!isLoading">
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-12 post-list">
        <div class="single-post d-flex flex-row">
      
          <div class="col-lg-9">
            <div class="details">
         
            
              <div class="col-md-8">
                <label class="sweet-underline">معلومات الوظيفة </label>
                  <hr class="separator-title">
                  <h4 class="h4-w">الموقع :</h4>
                  <h5 class="custom-h"> {{country}} - {{city}}</h5>
                  <h4 class="h4-w">نوع العقد :</h4>
                  <h5 class="custom-h">{{contract}}</h5>
                  <h4 class="h4-w">عدد أيام العمل :</h4>
                  <h5 class="custom-h"> {{work_days}}</h5>
                  <h4 class="h4-w">ساعات العمل اليومي :</h4>
                  <h5 class="custom-h">{{work_hours}}</h5>
                  <h4 class="h4-w">الراتب :</h4>
                  <h5 class="custom-h"> {{salary}} ريال / {{salaryType}}</h5>
                  <h4 class="h4-w">تاريخ بدأ العمل :</h4>
                  <h5 class="custom-h"> {{startDate}}</h5>
                  <h4 class="h4-w">الجنس :</h4>
                  <h5 class="custom-h custom-tag"> {{gender}}</h5>

                  <hr class="separator">
                
                  <h4 class="h4-w">التخصص العام :</h4>
                  <h5 class="custom-h"> {{public_Major}}</h5>
                  <!-- <h5 class="custom-h">التخصص الدقيق: Full Stack Web Developer</h5> -->
                  <!-- <h5 class="custom-h">المستوى التعليمي : بكالوريوس</h5>
                  <h5 class="custom-h">الحالة الدراسية : طالب</h5> -->
              </div>
             
              <div class="col-md-3">
                  <label class="sweet-underline">تفاصيل الوظيفة </label>
                  <hr class="separator-title">
                  <h4 class="h4-w">المسمى الوظيفي :</h4>
                  <h5 class="custom-h"> {{job_Name}}</h5>
                  <h4 class="h4-w">وصف الوظيفة :</h4>
                  <h5 class="custom-h">{{description}}</h5>
                  <hr class="separator">

                  <label class="sweet-underline padding">تفاصيل الشركة </label>
                  <hr class="separator-title">
                  <img [src]="companyImg" class="personal-image" /> 
                 
                  <h5 class="custom-h">{{companyName}}</h5>
                  <h5 class="custom-h"> {{companyCountry}} - {{companyCity}}</h5>
                  <h5 class="custom-h">{{companyInfo}}</h5>
                  



              </div>

              <button *ngIf='apply!=true' mat-raised-button class="btn btn-fill btn-primary" style='font-size: 20px' (click)="onApply()">تقديم</button>
              <button *ngIf='apply==true' mat-raised-button class="btn btn-fill btn-primary custom-btn"  [routerLink]="['/my-cv']">إلى الخلف</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- End post Area -->